html {
  /*
   * Set a resonable font-size, such that at 34rem we have ~70 characters on a
   * line.
   */
  line-height: 1.55;
  font-size: 20px;
  font-family: Palatino, 'Times New Roman', serif;
  color: #222;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

body {
  margin: 0;
  padding: 0 1rem 1rem 1rem;

  /*
   * Nearly all sizes are based on rems so that we can responsively change the
   * font sizes.
   */
  font-size: 1rem;
}

header, main, footer {
  max-width: 34rem;

  padding: 0;

  /*
   * Horizontally center top-level block elements
   */
  margin: 0 auto;

  /*
   * Necessary for IE11.
   */
  display: block;
}

hr {
  border: none;
  margin: 0;
  height: 0.5rem;

  /*
   * We use the background-color so that the big <hr>s in the header and footer
   * are not printed by default (thus saving people ink).
   */
  background-color: #222;
}

footer {
  margin-top: 1.0rem;
  font-size: 0.9rem;
  font-style: italic;
}

h1, h2 {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bolder;
}

blockquote {
  font-size: 0.9rem;
  margin-left: 0;
  margin-right: 0;
  quotes: none;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

/*
 * Block quotes with poetry have a separate <p> for each line of verse, with a
 * <br> in between.  We need a separate <p> for each line so that we can
 * indent long lines that wrap.  We do this by setting the `text-indent` (which
 * only affects the first line) to -2.5em, and then adding a 2.5em margin-left.
 * The margin-left will shift over all lines but the first.  Note we use 2.5rem
 * instead of 2rem, so that it is easier to distinguish a wrap-around indent
 * from a regular indented line (which is indented to 1rem).
 */
.poetry > p {
  padding: 0;
  margin: 0 0 0 2.5em;
  text-indent: -2.5em;
}

/*
 * Since we are using a <p> for each line, we need to remove the typical
 * padding around the <p>.  In order to properly separate parapgraphs in the
 * poetry, we insert a line break.  We set the `content` to a blank string, and
 * set the margin-top, so that we get the proper spacing which is usually in
 * between <p> tags.
 */
.poetry > br {
  display: block;
  content: "";
  margin-top: 1rem;
}

/*
 * The "indent" class is applied to verses which need to be indented.
 */
blockquote > p.indent {
  text-indent: -1.5em;
}

.prose > p {
  margin: 0;
}

.prose > p:not(:first-child) {
  text-indent: 1em;
}

/*
 * Ensure that inline citations don't word-wrap.
 */
p > cite {
  white-space: nowrap;
}

/*
 * This style ensures that there is the correct spacing between a <cite> and
 * the previous <p> tag, both in regular blockquotes and in poetry blockquotes.
 */
blockquote > p:last-of-type {
  margin-bottom: 0.3rem;
}

ul, ol {
  padding-left: 2rem;
}

/*
 * An index list is presented on the home page of the site.
 */
.index {
  padding: 0;
  margin: 0;
  list-style: none;
}

.index > li:not(:first-child) {
  margin-top: 0.3rem;
}

@media print {
  html {
    font-size: 16px;
  }

  header, main, footer {
    max-width: 100%;
  }

  /*
   * Make sure that URLs are available to people that print the page.
   */
  a:after {
    content: " [" attr(href) "] ";
  }
}

/*
 * 576px = (1rem body padding + 34rem main + 1rem body padding)*20px
 */
@media (max-width: 720px) {
  html {
    font-size: 18px;
  }
}

/*
 * 576px = (1rem body padding + 34rem main + 1rem body padding)*18px
 */
@media (max-width: 648px) {
  html {
    font-size: 16px;
  }
}

/*
 * 576px = (1rem body padding + 34rem main + 1rem body padding)*16px
 */
@media (max-width: 576px) {
  html {
    font-size: 14px;

    /*
     * Turn off serifs once the font-size gets too small; serifs are nice at
     * larger font-sizes since they make letters visually stick together into
     * words.  At smaller font-sizes they can make the text difficult to read.
     */
    font-family: Helvetica, Aria, sans-serif;
  }
}

/*
 * 504px = (1rem body padding + 34rem main + 1rem body padding)*14px
 */
@media (max-width: 490px) {
  html {
    font-size: 13px;
  }
}

/*
 * 468px = (1rem body padding + 34rem main + 1rem body padding)*13px
 */
@media (max-width: 468px) {

  /*
   * At very small screen sizes, remove unnecessary padding in block quotes
   * and instead make the color a bit dimmer to set them off from the main
   * text.
   */
  blockquote {
    padding-right: 0;
    padding-left: 0;
    color: #555;
  }
}
