---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="{{ page.title | xml_escape }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="/favicon-152.png">
    <meta property="og:description" content="{{ page.description | xml_escape }}">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
    <style>
        {% include stylesheet.css %}
    </style>
  </head>
  <body>
    <div class="max-width-container">
      <header>
        {% include four-squares.svg %}
      </header>

      <main>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </main>

      <footer>
        {% include four-squares.svg %}
        {% if page.url != '/' %}
        <p>
          You may enjoy my <a href="{{ site.url }}">other essays</a> about art, ethics,
          epistemology, and metaphysics.
        </p>
        {% endif %}
        <p>
          Please <a href="mailto:artsandmetaphysics@gmail.com">contact me</a> if
          you have questions, notice a factual or grammatical mistake, disagree
          with my logic, or want to suggest a counter-argument.
        </p>
      </footer>
    </div>
  </body>
</html>
