---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | normalize_whitespace }}</title>
    <meta name="description" content="{{ page.description | xml_escape | normalize_whitespace }}">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="{{ page.title | xml_escape | normalize_whitespace }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="/favicon.png">
    <meta property="og:description" content="{{ page.description | xml_escape | normalize_whitespace }}">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <style>{% include stylesheet.min.css %}</style>
  </head>
  <body>
    <header>
      <hr>
    </header>
    <main>
      <h1>{{ page.title | normalize_whitespace }}</h1>
      {{ content }}
    </main>
    <footer>
      <hr>
      <p>
      {% if page.url != '/' %}
        You may enjoy my <a href="{{ site.url }}">other essays and notes</a> about art, history, religion, and philosophy.
      {% endif %}
        If you have questions, notice a factual or grammatical mistake, disagree
        with my logic, or want to suggest a counter-argument. Please <a href="mailto:{{ site.email }}">contact me</a>.
      </p>
    </footer>
  </body>
</html>
