---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | xml_escape | normalize_whitespace | replace: "_", '"' }}</title>
    <meta name="description" content="{{ page.description | xml_escape | normalize_whitespace }}">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="{{ page.title | xml_escape | normalize_whitespace | replace: "_", '"' }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="/favicon.png">
    <meta property="og:description" content="{{ page.description | xml_escape | normalize_whitespace | replace: "_", '"' }}">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="Good Life Odyssey" href="https://goodlifeodyssey.com/rssfeed.xml" />
    <style>{% include stylesheet.min.css %}</style>
  </head>
  <body>
    <header>
      {% if page.url != '/' %}
      <p class="hidden-print"><a href="/">← other entries</a></p>
      {% endif %}
      <hr>
    </header>
    <main>
      <h1>{{ page.title | replace_first: "_", "<em>" | replace: " _", " <em>" | replace: "_", "</em>" | normalize_whitespace }}</h1>
      {% if page.date %}<small>{{ page.date | date: "%-d %B %Y" }}</small>{% endif %}
      {{ content }}
    </main>
    <footer>
      <hr>
      <form class="hidden-print" action="https://formspree.io/xqkyblqg" method="POST">
        <input type="email" placeholder="Email" name="email" required>
        <input type="hidden" name="secondsOnPage">
        <script>
          var input = document.getElementsByName("secondsOnPage")[0]
          var secondsOnPage = 0
          var clear = setInterval(function() {
            secondsOnPage = secondsOnPage + 5;
            input.value = secondsOnPage.toString();
          }, 5000)
          setTimeout(function() {
            clearInterval(clear)
          }, 120000);
        </script>
        <button type="submit">Sign up for <span class="hidden-sm">monthly</span> emails</button>
      </form>
      <p>
        {% if page.url != '/' %}
        Read my <a href="{{ site.url }}">other entries</a>.
        {% endif %}
        <span class="hidden-print">Learn <a href="/about">about the author</a>.</span>
        <a href="mailto:{{ site.email }}">Email me</a>—I would love to hear your thoughts, questions, corrections, or comments.
      </p>
    </footer>
  </body>
</html>
